.text-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.text-input-label {
  margin-bottom: 8px;
}

.text-input {
  padding: 12px 16px;
  border: 1px solid #adadad;
  border-radius: 8px;
  font-size: 16px;
}

.text-input-error {
  color: red;
  margin-top: 4px;
}